.part-a{
	font-size: 30px;
	padding-left: 50px;}

.website_header{

	font-size: 25px;
	padding-left: 500px;}

.images{
	padding-left: 300px;
}

.part-1{	
	font-size :25px;}
#contact{
	font-size: 30px;
	padding-left: 500px;
}	